<% unless user_signed_in? %>
	<div class="hero-unit">

		<h1>Live4Live</h1>
		<p>
			You've found the page for the 
			<%= link_to "Live4Live", "http://jonbryant.ca" %>
			application.
		</p>

		<p> 
			<%= link_to "Sign Up Now!" , new_user_registration_path ,  class: "btn btn-large btn-primary" %>
		</p>
	</div>
	<% end %> 

